body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  width: 90vw;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.photo{
  position: relative;
}
img{
  position: relative;
  width: 300px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
}
.photo::before{
  content: "";
  width: 300px;
  height: 350px;
  border-radius: 50%;
  background-color: cadetblue;
  position: absolute;
  top: -0.5rem;
  left: 1rem;
  box-shadow: 2px 5px 15px rgba(0,0,0,0.1);
}
.info{
  background-color: aliceblue;
  margin-bottom: 3rem;
  padding: 2rem 3rem;
  text-align: center;
  border-radius: 5%;
  box-shadow: 2px 5px 15px rgba(0,0,0,0.1);
  transition: all 0.5s linear;
}
.info:hover{
  box-shadow: 2px 5px 15px rgba(0,0,0,0.2);
}

button{
  background-color: aliceblue;
  margin: 1rem 2rem;
  padding: 1rem;
  font-size: 1rem;
  text-transform: capitalize;
  color: cadetblue;
  border: 2px solid cadetblue;
  font-weight: bold;
  letter-spacing: 0.1rem;
  width: 8rem;
  border-radius: 0.5rem;
  transition: all 0.3s linear;
  box-shadow: 2px 5px 15px rgba(0,0,0,0.1);
  cursor: pointer;
}
button:hover{
  color: aliceblue;
  background-color: cadetblue;
  border: 2px solid aliceblue;
  box-shadow: 2px 5px 15px rgba(0,0,0,0.2);
}

@media screen and (min-width: 800px) {
    .info{
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 5rem;
      align-items: center;
    }
}